* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #042842;
}

.containerWolf {
    border-radius: 15px;
    margin: 25vmin;
    padding: 3% 3% 3% 3%;
    border: 2px solid white;
    text-align: center;
    color: white;
}

.containerWolf img {
    width: 80%;
}

.containerWolf h1 {
    color: white;
    padding: 15px;
}

.containerWolf p {
    color: white;
    padding: 15px;
}

.containerWolf button {
    text-align: center;
    align-items: center;
    padding: 15px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #6d50a2;
    border-radius: 10px;
    border: 5px double #937194;
    border-style: double;
}

.tableContainer {
    padding: 3% 3% 3% 3%;
    border-radius: 15px;
    margin: 25vmin;
    align-items: center;
    text-align: center;
    border: 2px solid white;
}

.tableContainer table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #6d50a2;
}

.tableContainer td, th {
    border: 2px solid #6d50a2;
    color: white;
}

.tableContainer img {
    width: 100px;
}